/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #a9a9a9;
  background-image: url(fondo3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffffb2;
}

body {
  width: 70%;
  margin: 0 auto;
  
}

/* || typography */

header {
  flex: 2;

}

.mennn  {

  display: inline-block;
}

header img {
  width: 90px; 
  height: 90px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 90px;
  vertical-align: middle;

}

header h1 {
  margin-right: 35%;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'ancora', cursive;
  color: #000000;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  text-align: justify;
}

/* || header layout */

.menu, .seccion, .opciones, footer {
  background-color: rgba(255, 255, 255, 0.884);
  padding: 1%;
  border-radius: 1.5em;
  border: #000000 solid 1px;
}

.menu {
  height: 50px;
  background-color: #faa039e1;
  display: flex;
  margin-bottom: 10px;
}

.menu ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

.menu li {
  display: inline;
  text-align: center;
  flex: 1;
}

.menu a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.menu form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;

}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: rgb(255, 255, 255);
  border-radius: 1.5em;
}

input:hover{
  color:#17e4ff
}

a:hover{
  color:#fbff17
}



.menu a:hover{
  color:#fbff17
}

/* || main layout */

main {
  display: flex;
  
}

.articulo {
  flex: 4;
  margin-bottom: 10px;
}

.seccion {
  display: flex;
  display: inline-block;
  flex: 4;
  margin-bottom: 10px;
  width: 97%;

  
}

.articulo .primerparragrafo{
  text-indent: 40px;
  color: #000000;
}
.imagentexto{
  display: flex;
  align-items: flex-start;
}

.articulo img{
  width: 110px; 
  height: 110px; 
  float: right;
  margin-left: 10px;
  vertical-align: middle;
}

.opciones {
  flex: 1;
  margin-left: 10px;
  background-color: #faa039e1;
}

.opciones li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pie {
  text-align: center;
  display: inline-block;
}
.pie01{
  padding-right: 340px;
}

.pie img {
  width: 30px; 
  height: 30px;
  padding-left: 25px;
}

.pie02 {
  padding-top: 10px;
}